.featured-section {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #f5811f;
}

.swiper {
  width: 100%;
  height: auto;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

.box {
  background-color: #fff;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s;
  width: 30vw;
  height: 40vh; /* Should work unless there are conflicting styles */
  min-height: 40vh;
}

.box:hover {
  transform: translateY(-5px);
}

.property-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 30px;
}

.read-more-btn {
  margin-top: 10px;
  display: inline-block;
  background-color: #dc741b;
  color: #fff;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.read-more-btn:hover {
  background-color: #dc741b;
}

.box h4 {
  color: #f5811f;
  font-weight: 800;
  margin-bottom: 20px;
  height: 30px;
}

.box label {
  color: #f5811f;
  margin-bottom: 20px;
}

.property-desc {
  color: #333;
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.6;
}
