.featured-section {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.swiper {
  width: 100%;
  height: auto;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

/* Box layout with asymmetry */
.boxs {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  max-width: 400px;
  height: 250px; /* Ensures a uniform height */
  transition: transform 0.3s;
}

.box:hover {
  transform: translateY(-5px);
}

/* Image container */
.img-container {
  flex: 1.2; /* Gives more space to the image */
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.boxs .img-container .property-image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 8px;
  color: #ee7e01;
}

/* Text container */
.text-container {
  flex: 1; /* Adjust width dynamically */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-container h4 {
  color: black;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center;
}

.text-container h6 {
  color: #36454F;
  font-size: 14px;
  line-height: 1.6;
  text-align: center;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .box {
    flex-direction: column; /* Stack image and text for smaller screens */
    height: auto;
    max-width: 100%;
    text-align: center;
  }

  .img-container {
    width: 100%;
  }

  .property-image {
    height: 200px;
  }
}
