.line-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  margin-top: 40px;
  width: 90%;
}

.line-title {
  font-size: 20px;
  font-weight: bold;
  color: #ee7e01; /* Adjust based on your theme */
}

.line {
  flex-grow: 1;
  height: 2px;
  background-color: #ee7e01;
  margin: 0 10px;
  width: 75%;
}

.line-link {
  font-size: 16px;
  color: #ee7e01;
  text-decoration: none;
  border-bottom: 1px solid #ee7e01;
}

.line-link:hover {
  color: #e57901;
  border-bottom: 1px solid #e57901;
}
