.swiper-nav-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.swiper-nav-buttons .nav-btn {
  width: 60px; /* Perfectly circular */
  height: 60px; /* Perfectly circular */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%; /* Ensure a perfect circle */
  border: 1px solid white; /* Add white border */
  outline: none;
  background-color: transparent; /* Transparent background */
  color: #fff; /* White icon */
  font-size: 24px; /* Adjust icon size */
  margin: 0 10px; /* Space between buttons */
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3); /* Subtle shadow */
  transition: all 0.3s ease-in-out;
}



.swiper-nav-buttons .nav-btn:hover {
   background-color: rgba(255, 255, 255, 0.1); /* Slight white background on hover */
  transform: scale(1.1); /* Slightly enlarge on hover */
  cursor: pointer;
  transform: translateY(-3px);
  box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.4);
}

.swiper-nav-buttons .nav-btn:active {
  transform: translateY(2px);
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
}

/* Icon Styling */
.nav-btn .icon {
  font-size: 29px; /* Ensure icons are visible */
  color: #fff; /* Ensure the icon color contrasts the button background */
}

