/* Blog Details Container */
.blog-details {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: left;
}

/* Details Header for Large Screens */
.details-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

/* Image Styling */
.details-image {
  width: 45%; /* Adjust width for large screens */
  margin-top: 60px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-left: 20px;
}

/* Title Styling */
.details-title {
  font-size: 2rem;
  color: #171717;
  margin-bottom: 15px;
  font-weight: 600;
  flex: 1;
}

/* Date Styling */
.details-date {
  font-size: 1rem;
  color: #171717;
  margin-bottom: 20px;
}

/* Content Styling */
.details-content p {
  font-size: 1.2rem;
  color: #171717;
  margin-bottom: 20px;
  line-height: 1.6;
}

/* Blog Points List */
.blog-points {
  margin-top: 10px;
  padding-left: 20px;
}

.blog-points li {
  font-size: 1.1rem;
  color: #171717;
  margin-bottom: 10px;
  line-height: 1.5;
}

/* End Note Styling */
.end-note {
  font-size: 1.2rem;
  color: #1e954e;
  font-weight: 600;
  margin-top: 20px;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .details-header {
    flex-direction: column; /* Stack title, date, and image vertically */
    align-items: flex-start; /* Align to the left */
  }

  .details-title {
    font-size: 1.5rem;
  }

  .details-date {
    font-size: 0.9rem;
  }

  .details-image {
    width: 100%;
    margin-top: 20px;
    margin-left: 0;
  }
}

/* Back Button Styling */
.back-home-btn {
  background-color: #171717;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

/* Button Hover Effect */
.back-home-btn:hover {
  background-color: #1e954e;
}
