/* Hero Section */
.hero {
  position: relative;
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #84f600;
  overflow: hidden;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: slideshow 20s infinite;
  z-index: -2;
}

.hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

@keyframes slideshow {
  0% {
    background-image: url("../../../../public/images/1.jpeg");
  }
  50% {
    background-image: url("../../../../public/images/2.jpeg");
  }
  100% {
    background-image: url("../../../../public/images/3.jpeg");
  }
}

/* Container Section */
.hero .container {
  text-align: center;
  padding: 15%;
  padding-top: 10%;
  position: relative;
  z-index: 1;
  max-width: 100%;
  box-sizing: border-box;
}

.hero h1 {
  color: #84f600;
  font-size: 60px;
  margin-bottom: 25px;
}

.hero p {
  color: #84f600;
  font-weight: 500;
  opacity: 0.9;
  font-size: 50px;
  margin-bottom: 25px;
}

/* Button Styling */
.cta-button {
  background-color: #84f600;
  color: #fff;
  padding: 8px 16px; /* Smaller padding */
  width: auto; /* Remove fixed width */
  border: none;
  border-radius: 25px;
  font-size: 14px; /* Smaller font */
  cursor: pointer;
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center;
  justify-content: center;
  gap: 8px; /* Space between text, arrow, and logo */
  transition: all 0.3s ease;
  margin: 0 auto;
}

.cta-button:hover {
  background-color: #0D3920;
  transform: scale(1.05);
}

.arrow {
  margin-left: 10px;
  font-size: 18px;
}

.whatsapp-logo {
  font-size: 20px; /* Smaller size for the logo */
  color: #fff;
}

/* Mobile View */
@media screen and (max-width: 900px) {
  .hero {
    height: auto;
    padding: 0;
  }
  
  .hero .container {
    padding: 10%;
    width: 100%;
    box-sizing: border-box;
  }

  .hero h1 {
    font-size: 40px;
    margin-bottom: 10px;
  }

  .hero p {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .cta-button {
    font-size: 12px;
    padding: 8px 15px;
    width: 30%;
    box-sizing: border-box;
  }
}

.typing-animation {
  display: inline-block;
  border-right: 3px solid #84f600;
  animation: blink 3s steps(2, start) infinite;
  color: #84f600;
}

@keyframes blink {
  to {
    border-color: transparent;
  }
}
