/* Hero Section */
.heros {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f5811f;
  overflow: hidden;
}

.heros::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: slideshow 20s infinite;
  z-index: -2;
}

.heros .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

@keyframes slideshow {
  0% {
    background-image: url("../../../../public/images/1.jpeg");
  }
  50% {
    background-image: url("../../../../public/images/2.jpeg");
  }
  100% {
    background-image: url("../../../../public/images/3.jpeg");
  }
}

/* Container Section */
.heros .container {
  text-align: center;
  padding: 15%;
  padding-top: 10%;
  position: relative;
  z-index: 1;
  max-width: 100%;
  box-sizing: border-box;
}


.heros p {
  color: #f5811f;
  font-weight: 500;
  opacity: 0.9;
  font-size: 50px;
  margin-bottom: 25px;
}

/* Button Styling */
.cta-button {
  background-color: #f5811f;
  color: #fff;
  padding: 8px 16px; /* Smaller padding */
  width: auto; /* Remove fixed width */
  border: none;
  border-radius: 25px;
  font-size: 14px; /* Smaller font */
  cursor: pointer;
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center;
  justify-content: center;
  gap: 8px; /* Space between text, arrow, and logo */
  transition: all 0.3s ease;
  margin: 0 auto;
}

.cta-button:hover {
  background-color: #dc741b;
  transform: scale(1.05);
}

.fleChange {
  display: flex;
  align-items: center;  /* Vertically center the items */
  justify-content: center; /* Horizontally center the items */
  gap: 10px; /* Space between items */
}

.arrow {
  font-size: 18px;
  margin-left: 5px; /* Adjust spacing between the arrow and the WhatsApp icon */
}

.whatsapp-logo {
  font-size: 20px; /* Adjust logo size */
  color: #fff;
}


/* Mobile View */
@media screen and (max-width: 900px) {
  
  .heros {
    height: 80vh;
    padding: 0;
  }
  
  .heros .container {
    padding: 10%;
    width: 100%;
    box-sizing: border-box;
  }

  .heros h1 {
    font-size: 40px;
    margin-bottom: 10px;
  }

.heros p {
  font-family: 'Poppins', sans-serif;
  font-weight: 600; /* Bold weight for better visibility */
  color: #f5811f;
  font-size: 50px;
  margin-bottom: 25px;
  line-height: 1.2;
}

  .cta-button {
    font-size: 12px;
    padding: 8px 15px;
    width: 50%;
    box-sizing: border-box;
  }
}

.typing-animation {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  font-size: 50px;
  color: #f5811f;
  border-right: 3px solid #dc741b; /* Typing effect */
  animation: blink 3s steps(2, start) infinite;
}

@keyframes blink {
  to {
    border-color: transparent;
  }
}
