/* Hero Section */
.heros {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  overflow: hidden;
  padding-right: calc(2rem* .5);
  padding-left: calc(2rem* .5);
    margin-right: auto;
    margin-left: auto;
}

.heros::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  animation: slideshow 20s infinite;
  z-index: -2;
}

.heros .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(12, 12, 12, 0.75);
  z-index: -1;
}

@keyframes slideshow {
  0% {
    background-image: url("../../../../public/images/1.jpeg");
  }
  50% {
    background-image: url("../../../../public/images/2.jpeg");
  }
  100% {
    background-image: url("../../../../public/images/3.jpeg");
  }
}

/* Container Section */
.heros .container {
  text-align: center;
  padding: 15%;
  padding-top: 10%;
  position: relative;
  z-index: 1;
  max-width: 100%;
  box-sizing: border-box;
}


.heros p {
  color: #fff;
  font-weight: 500;
  opacity: 0.9;
  font-size: 40px;
  margin-bottom: 25px;
}
.heros p .smaller{
  font-size: 25px;
}
/* Button Styling */
.body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btns {
  position: relative;
  width: 220px;
  height: 60px;
  background: rgba(5, 5, 5, 0.3);
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255,255,255, 0.5);
  text-decoration: none;
  letter-spacing: 2px;
  border-top: 0.5px solid rgba(255,255,255, 0.35);
  border-left: 0.5px solid rgba(255,255,255, 0.35);
  padding-left: 40px;
  transition: 0.5s;
   overflow: hidden;
}

.btns:hover {
 padding-left: 0px;
 padding-right: 40px;
 color: rgba(255,255,255,1);
}

.btns:hover span {
  left: calc(100% - 55px)
}

.fleChange {
  padding-left: 30px;
  padding-right: 20px;
  color: #1a191d;
  display: flex;
  align-items: center;  /* Vertically center the items */
  justify-content: center; /* Horizontally center the items */
  gap: 10px; /* Space between items */
}

.btns span {
  position: absolute;
  left: 5px;
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50% ;
  transition: 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1a191d;
  font-size: 1.5em;
}
.btns:after{
  content: '';
  position: absolute;
  width: 80px;
  height: 100%;
  z-index: 1;
  background: rgba(255,255,255, 0.5);
  transform: translateX(-170px) skewX(30deg);
  transition: 0.75s ease-in-out;
}

.btns:hover:after{
  transform:  translateX(170px) skewX(30deg);
}




.whatsapp-logo {
  font-size: 20px; /* Adjust logo size */
  color: #fff;
}


/* Mobile View */
@media screen and (max-width: 900px) {
  
  .heros {
    height: 100vh;
    padding: 0;
  }
  
  .heros .container {
    padding: 10%;
    width: 100%;
    box-sizing: border-box;
  }

  .heros h1 {
    font-size: 40px;
    margin-bottom: 10px;
  }

.heros p {
  font-family: "Open Sans", serif;
  font-weight: 600; /* Bold weight for better visibility */
  color: #fff;
  font-size: 35px;
  margin-bottom: 25px;
  line-height: 1.2;
}
.heros p .smaller{
  font-size: 20px;
}

  .cta-button {
    font-size: 12px;
    padding: 8px 15px;
    width: 50%;
    box-sizing: border-box;
  }
}

.typing-animation {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  font-size: 50px;
  color: #fff;
  border-right: 3px solid #F84C0B; /* Typing effect */
  animation: blink 3s steps(2, start) infinite;
}

@keyframes blink {
  to {
    border-color: transparent;
  }
}
