.awards {
  margin: auto;
  margin-left: 20%;
  text-align: center;
  padding: 40px 0;
}

.awards .swiper {
  padding: 20px 0;
}

.awards .card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: 200px;
  margin: auto;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.awards .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.awards .con {
  width: 60px;
  height: 60px;
  line-height: 60px;
  margin: 0 auto 20px;
  font-size: 32px;
  color: #050505;
}

.awards h6 {
  font-size: 36px;
  color: #050505;
  margin: 10px 0;
}

.awards p {
  font-size: 16px;
  color: #222;
  margin: 0;
}
.visible{
  display: none;
}
@media screen and (max-width: 768px) {
  .awards {
    margin-left: 0%;
  }
  
  .visible{
    display: block;
  }
}