.awards {
  color: #f5811f;
  text-align: center;
  padding: 40px 0;
  background-color: #F6F6F6;
}

.awards .heading {
  display: flex;
  flex-direction: column-reverse;
}

.awards .heading p {
  color: #f5811f;
  font-size: 40px;
  font-weight: 800;
}

.awards .heading h1 {
  color: #f5811f;
  font-size: 20px;
  font-weight: 700;
}

.awards .content {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;    /* Center vertically */       /* Allow items to wrap to the next row */
  gap: 20px;              /* Add spacing between items */
}

.awards .box {
  text-align: center;
}

.awards .icon {
  width: 50%;
  height: 50%;
  line-height: 50px;
  margin: auto;
  margin-top: 50px;
  background: #322d31;
  border-radius: 4% 50%;
  font-size: 32px;
  color: #fff;
}

.awards h1 {
  font-size: 50px;
}

.awards p {
  color: grey;
}
