.about {
   
}
 .about h1 {
  font-size: 29px;
}
.about span {
  font-size: 32px;
  color: #f5811f;
}

.btnStyle{
margin-bottom: 20px;
background-color: #ee7e01;
}
.about .heading {
  text-align: left;
  width: 100%;
  margin-bottom: 30px;
}
.about p {
  font-size: 15px;
  padding-right: 30px;
  margin-bottom: 20px;
  line-height: 30px;
  color: #5C5C5C;
}
.marg {
  margin-left: 25px;
}
@media screen and (max-width: 900px) {
  .about .container {
    flex-direction: column;
  }
  .about p {
    padding: 0;
  }
  .about .container img {
    margin-top: 50px;
  }
  .about h1 {
  font-size: 15px;
}
.about span {
  font-size: 20px;
}
.marg {
  margin-left: 0;
}
}
