/* Footer Section */
footer {
  background-color: #fff; /* White background for the footer */
  padding: 20px 0;
}

footer .container {
  display: flex;
  justify-content: center; /* Center the links horizontally */
  align-items: center; /* Align items vertically */
}

footer .box {
  display: flex;
  flex-direction: row; /* Links in a row */
  width: 50%; /* Adjust the width as needed */
  gap: 20px; /* Space between the links */
  justify-content: flex-start; /* Align links to the left */
  flex-wrap: wrap; /* Ensure links wrap on smaller screens */
}

/* Footer links */
footer .box a {
  color: #84f600; /* Green text color */
  text-decoration: none; /* Remove underlines */
  font-size: 16px; /* Font size */
  padding: 0 20px; /* Space between the links */
  transition: color 0.3s ease; /* Smooth transition for hover effect */
}

footer .box a:hover {
  color: #a9a9a9; /* Change to gray when hovered */
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  footer .container {
    grid-template-columns: 1fr; /* Stack sections vertically */
    gap: 20px; /* Add space between sections */
  }

  .footerContact h1 {
    font-size: 28px;
  }

  footer p,
  footer h2 {
    text-align: center;
  }

  footer ul {
    text-align: center;
  }

  /* Adjust the footer .box to be a row on mobile */
  footer .box {
    display: flex;
    justify-content: flex-start; /* Align to the left */
    flex-direction: column; /* Ensure horizontal row for links */
    gap: 10px; /* Adjust spacing for mobile */
    width: 100%;
  }

  footer .box a {
    font-size: 14px; /* Smaller text size */
    padding: 0 10px; /* Adjust spacing for mobile */
  }

  .footerContact {
    padding: 30px 15px; /* Adjust padding for mobile */
  }
}
